html {
    --nonClickable-btn-background: rgb(183, 183, 183);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#board div {
    margin:0;
    padding: 0;
}

#board button {
    background-color: white;
}

.nonClickable {
    pointer-events: none;
    background-color: var(--nonClickable-btn-background);
}